<h1>User registration successfully...</h1>

<fieldset>
    <legend>user Info</legend>
    <h3> firstname: <%=data.firstname%></h3>
<h3>lastname: <%= data.lastname%></h3>
<h3>age : <%= data.age%></h3>
<h3>address : <%= data.address%></h3>
<h3>city : <%= data.city%></h3>
<h3>hobbies : <%= data.hobbies%></h3>
</fieldset>
